tools/packages/
packages/
build/
bin/
obj/
*.suo
*.nupkg
*.vsix
!WebSharper.Vsix/
/templates-test
.paket/paket.exe
*.vstemplate
*.user
WebSharper.Vsix/WebSharper.Vsix.csproj
WebSharper.Vsix/source.extension.vsixmanifest
paket.lock
.vs/
/.vscode
*.CSharp.csproj
*.FSharp.fsproj