tools/packages/
packages/
build/
bin/
obj/
*.suo
*.nupkg
*.vsix
!WebSharper.Vsix/
/templates-test
*.vstemplate
*.user
WebSharper.Vsix/source.extension.vsixmanifest
WebSharper.Templates/WebSharper.Templates.csproj
.vs/
/.vscode
*.CSharp.csproj
*.FSharp.fsproj
Content/
Scripts/
launchSettings.json
.fake/
/paket-files
/.ionide
/testdotnet
*~
