source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: netstandard2.0
storage: none

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.CSharp prerelease
nuget WebSharper.UI prerelease
nuget WebSharper.UI.CSharp prerelease
nuget WebSharper.AspNetCore prerelease
//nuget WebSharper.Suave prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper50

