source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: netstandard2.0
storage: none

nuget WebSharper ~> 8.0
nuget WebSharper.FSharp ~> 8.0
nuget WebSharper.CSharp ~> 8.0
nuget WebSharper.UI ~> 8.0
nuget WebSharper.UI.CSharp ~> 8.0
nuget WebSharper.AspNetCore ~> 8.0
//nuget WebSharper.Suave ~> 8.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper80

