type file
id WebSharper.Templates
authors
    IntelliFactory
owners
    IntelliFactory
licenseUrl http://websharper.com/licensing
projectUrl https://github.com/intellifactory/websharper.templates
description
    User interface combinators for WebSharper
tags
    Web JavaScript F# C#
packageTypes
    <packageType name="Template" />
files
    ../NetCore/** ==> .
    